<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161449611-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161449611-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Help Temecula Valley Service Workers">
  <meta name="twitter:description" content="Every time you take a drink at home, tip a service industry worker in the Temecula Valley area! A random service worker has been randomly generated for you to support via a Venmo tip.">
  <meta name="twitter:image:src" content="https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  <link rel="stylesheet" href="css/main.css">
  <title>Help Temecula</title>
</head>
<body>