<%- include('partials/headtwitter.ejs') %>

  <div class="page-wrapper">
    <div class="content-wrapper">
      <h1>Support the service industry workers in the Temecula Valley area!</h1>
      <p>Temecula Valley is home to a thriving restaurant and bar scene. Unprecedented times allow us to show up for each other in new ways. As we practice social distancing and responsibily care for each other by avoiding our beloved gathering places, many service workers are facing a time of fear and instability.</p>
      <p>Here’s an easy way to help! Every time you take a drink at home, tip a service industry worker in the Temecula Valley area! A random service worker has been randomly generated for you to support via a Venmo tip. Refresh the page to get a new person to support.</p>
      <p>This page was inspired by the work at <a href="https://serviceindustry.tips/en/">serviceindustry.tips</a></p>
      <h4 class="italic">Your random selection</h4>
      <div class="tip-box">
        <p>We are still waiting for people to sign up.
            Please check back in an hour or so.</p>
      </div>
      <p>If you are a service industry worker impacted by this in the Temecula Valley, please fill out <a href="/form">this form</a>.</p>
      <p>We do not vet the service workers. If you have any concerns or suggestions, please contact: helptemecula@gmail.com</p>
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</body>
</html>