<%- include('partials/head.ejs') %>

  <div class="page-wrapper">
    <div class="content-wrapper">
      <h1>Privacy Policy</h1>
      <p>
          Help Temecula collects only the minimum amount of data necessary to efficiently run this site. This includes the name, place of employment, and Venmo account of those who seek tips to help them through this downturn in work. This data is not used for any other purpose than to help service industry workers in the Temecula area during the COVID-19 health crisis. This information is randomly generated and shared with visitors to the site who wish to help. It is not used or shared with any other third party in any other capacity.
      </p>
      <h3>Cookies</h3>
      <p>
          A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
      </p>
      <p>
          We use traffic log cookies to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to reach more people. We only use this information for statistical analysis purposes and then the data is removed from the system.
      </p>
      <p>
          A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.
      </p>
      <p>
          You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. 
      </p>
      <h3>External Links</h3>
      <p>
          We link to outside websites. Once you leave our site, we have no control over how these sites collect or use your data.
      </p>
      <hr>
      <p>
          In compliance with GDPR and for your protection, if you’d like your information removed at any time please email: helptemecula@gmail.com
      </p>
    </div>
  </div>
  
</body>
</html>