<%- include('partials/head.ejs') %>
  <div class="content-wrapper">
    <h1>Thanks! You've successfully submitted your information!</h1>
    <a href="/">Click here to go back to the home page</a>
  </div>
</body>
</html>